
#fixed{
  position: fixed;
  width: 100%;
  z-index: 999;
  margin-top: -33px;
  background-color: white;
}
html,body{
  margin:0px;
  width: 100%;
  height: 100%;
  font-family: "游ゴシック体", YuGothic;
}

header{
    background-color: pink;
    height: 40px;
}

main{
  padding-top:  100px;
  padding-bottom: 150px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

/*////////////////////////////////////*/
/*///////////  page.nav  /////////////*/
/*////////////////////////////////////*/
.dots{
  border:none;
}

.next,
.prev{
  font-size: 13px;
  border:none;
}

.next a{
  border:none;
}


/*/////////////////////////////////////*/
/*///////////  header.menu ////////////*/
/*////////////////////////////////////*/
.head-container{
  border-bottom: 3px solid #f0f0f0;
  background-color:white;
}
.head-contents{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin:auto;
  width: 1165px;
  padding-bottom: 10px;
}

.head-img{
  padding-top: 35px;
}
.head-img img{
  height: 50px;
}

.menu{
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom:10px;
}

.menu li{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 15px;
  font-family: "游ゴシック体", YuGothic;
}
.nav{
  justify-content: flex-end;
  padding-right: 0px;
}

.menu li:last-child > a{
  box-sizing: border-box;
  padding:10px;
  border:1px solid black;
  border-radius:20px;
}
/*/////////////////////////////////////*/
/*///////////  header.img ////////////*/
/*////////////////////////////////////*/

.header-img{
  margin-bottom:32px;
}
.header-img> img{
  display: block;
  margin:auto;
  width: 1165px;
  height: 400px;
  object-fit: cover;
  

}

  
/*/////////widjet////////////*/


.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 44px auto 0px auto; 
}

.calendar_wrap{
  margin-top: 40px;
  margin-bottom: 40px;
}

.calendar_wrap > caption{
    text-align: center;}

.searchform{
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchform input[type="text"]{

  height:35px;
  width: 230px;
  box-sizing: border-box;
  border: gray solid 1px;
  border-radius:5px;
}

#searchsubmit{
  height:35px;
  font-size:18px;
  box-sizing: border-box;
  border: solid 1px;
  padding:4px 9px;
  background-color: black;
  color: white;
  border-radius:5px;
  text-align: right;
}

.screen-reader-text{
  font-size:18px;
  display: none;
}



.widget_categories{
  width: 80%;
　font-size: 18px;
  font-weight:200;
  margin: 20px auto;
　border: solid 1px black;

}

.widget_categories::before,
.widget_categories::after{
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #808080;
  margin-top: 20px;
  margin-bottom: 20px;

}


.widget_categories h3{
  text-align: center;
  font-size:20px; 
}

.widget_categories h3::after{
  content:"";
  color:gray;
  height: 1px;
  width: 100%;


}

.widget_categories h3,
.widget_categories > ul > li {
  margin-bottom: 5px;
}


.calendar_wrap{
  margin-top: 30px;
  font-size:20px;

}

.sarchsubmit{
  text-align: right;
}


/*/////////////////////////////////////*/
/*///////////  header.img ////////////*/
/*////////////////////////////////////*/

.header-img{
  margin-bottom:32px;
}
.header-img> img{
  display: block;
  margin:auto;
  width: 1165px;
  height: 400px;
  object-fit: cover;
  

}

  
/*/////////widjet////////////*/


.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 54px auto 0px auto; 
}

.calendar_wrap{
  margin-top: 40px;
  margin-bottom: 40px;
}

.calendar_wrap > caption{
    text-align: center;}

.searchform{
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchform input[type="text"]{

  height:35px;
  width: 230px;
  box-sizing: border-box;
  border: gray solid 1px;
  border-radius:5px;
}

#searchsubmit{
  height:35px;
  font-size:18px;
  box-sizing: border-box;
  border: solid 1px;
  padding:4px 9px;
  background-color: black;
  color: white;
  border-radius:5px;
  text-align: right;
}

.screen-reader-text{
  font-size:18px;
  display: none;
}




.basic-vote-button{
  margin:10px;
} 



/*/////////////////////////////////////*/
/*///////////  single.php ////////////*/
/*////////////////////////////////////*/

.articles{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}


#blog_archive{
  width: 1027px;
  margin: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 300px;
}


.articles h1{
  font-size: 30px;
}


.content-box{
  margin-top: 37px;
  display: flex;
  flex-wrap: wrap;
}

.content-box li {
  display: flex;
  flex-direction: column;
  margin-right: 33px;
  margin-bottom: 17px;
  height: 450px;
  width: 31.18%;
  transition: .8s;
  border-radius: 5px;
}

.content-box li:nth-child(3),
.content-box li:last-child{
  margin-right: 0;
}

.content-box li:hover{
  box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.date{
  margin-top: 16px;
  margin-left: 20px;

} 


.article-upper{
  margin: 20px 20px 20px 16px;
  display: flex;
  flex-direction: column;
}

.article-lower{
  margin-top:100px;
}


.latest_title{
  width: 760px;
  margin:auto;
} 

.cat-data ul {
  margin-bottom: 10px; }

.article_title,
.info_article_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items:center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
  border-bottom: solid 0.5px gray; }


.article_title h1,
.info_article_title h1{
  font-size: 20px; }

.article_title span,
.info_article_title span {
  font-size: 14px;}

.article_img > img{
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  text-align: center; }

.article_content {
  margin-top: 50px;
  font-size: 15px;
  line-height: 26px; }

.article_content p {
  font-size: 15px; 
}

.side-single{
  margin-top:40px;
  margin-bottom:40px;
}

.nav-below {
  position: relative;
  width: 100%;
  height:auto;
  margin-top: 5%;
  font-size: 15px;
   }


.pre_text {
  position: absolute;
  left: 40%; }

.next_text {
  position: absolute;
  right: 40%; }

.article_archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  justify-content: center;
  flex-direction:  column;
}
.article-container{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}


.latest_title{
  width: 760px;
  margin:auto;
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  background-color: #E7EAEB;
  font-weight: bold;
  text-align: left;
  padding: 10px;  }

.article_loop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 30px; }

.article_loop > h2 {
  font-size: 15px; }

.article_loop > p {
  font-size: 12px;
  text-align: left; }

.list-btn {
  margin: 80px auto; }

.list-btn a {
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0.5px solid gray; }

.single-container{
    margin-top:100px;
  }

/*display comment css*/
.coment-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}


.coment-container >h3{
  font-weight: bold;
  background-color:  #E7EAEB;
  font-size: 15pt;
  text-align: left;
  padding: 10px;  
}

.comment-author{
  display: inline-block;
  align-items: center;
  margin:10px auto;
  font-size: 12pt;
}

.comment-meta a{
  font-size: 10pt;
}


.commentlist{
  width: 90%;
  margin:auto;
  text-align: left;
}


.commentarea{
    margin-top:300px;
    display: flex;
    align-items: center;

  }

.comment-body{
    font-size:14pt;
    margin-top: 5px;
  }

.comment-body::after{
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: gray;
  vertical-align: middle;
  margin: 10px;

}


  .comment-body p::before{
    content:" コメント内容： ";

  }

  .children{
    width: 98%;
  }

  .reply{
    margin-top:10px;
    text-align: right
  }
 .coment-form{
  display: block;
 }

 .comment-respond{
  margin-top:30px;
 }
 .comment-reply-title {
  display: none;
  font-size:13px;
  padding:10px;
  margin:20px auto;
  background-color:  #E7EAEB;
 }

 .comment-form-comment label{
  display: none;
 }

 .comment-form-comment textarea{
  width:100%;
  border-radius: 4px;
  margin:auto;
 }

 .comment-reply-link{
  font-size: 15px;
  padding:5px 10px;
  border: solid 1px black;

 }
.comment-awaiting-moderation{
 font-size: 14px;
}
 .form-submit{
    text-align: center;
    margin-top:10px;
    width: 40%;
 }

 .submit{
  font-size:17px;
  padding:10px;
  border: solid 1px black;
  margin-top: 20px;
  cursor:pointer;
 }

/*respond comment CSS*/

.comment-respond  input { 
  height: 50px;
  border: solid 0.5px #000000;
}


.comment-form-author label,
.comment-form-url label,
.comment-form-email label{
  text-align: left;

}


.comment-respond p{
  margin-bottom:10px;
  display: flex;
  flex-direction: column;
}


/*////////////////////////////////////*/
/*//////////以下最新の投稿一覧//////////*/
/*////////////////////////////////////*/

.info_title{
  font-size:20px;

}

.article_loop{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.archive_block{
  display: flex;
  align-items: center;
}

.archive_block span{
  border:1px solid gray;
  font-size:13px;
}

.archive_cat,
.archive_date,
.archive_block > h1{
  font-size: 13pt;
  padding:10px 20px; 
  margin: 5px 10px ; 
  font-weight:normal;
}

.archive_cat{
  background-color: gray;
  color:white;
  width: 200px;
  font-size: 12px;
  text-align: center;
}



/*////////////////////////////////////*/
/*///////////  bread crumbs//////////*/
/*////////////////////////////////////*/

#breadcrumb{
  position: absolute;
  left:20%;
  top:10%;
}

.breadcrumbs li{
  display: inline-block
}

.breadcrumbs a,span{
 font-size:13px;
}

.breadcrumbs a::after{
white-space: pre-wrap;
content:" > ";
}


/*////////////////////////////////////*/
/*///////////  contact form//////////*/
/*////////////////////////////////////*/

.form-width { 
  max-width: 100%;
}


.wpcf7{
  max-width: 100%;
  margin:auto;
}
     
.wpcf7-form label{
  margin-bottom: 15px;
} 

.wpcf7-form-control{
  height: 40px;
  border:solid 1px gray ;
}

.wpcf7-submit{
  display: inline-block;
  border:solid 1px black;
  padding:10px 20px;
  align-items:right;
  background-color: #c5c5c5;

}
.wpcf7-textarea{
  border:solid 1px gray ;  
}




/*////////////////////////////////////*/
/*///////////  page-kaisha //////////*/
/*////////////////////////////////////*/
.kaisha-con{
  margin:150px auto 159px auto;

}
.kaisha{
width: 80%;
margin: auto;
}

.kaisha-title{
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight:bold;

}

.kaihsa-img{
  align-items: center;
  justify-content: center;
  margin-bottom:30px;
}


.kaisha th,
.kaisha td {
border: 1px solid #ccc;
padding: 20px;
}

.kaisha-his{
  margin-right:30px;
}
.kaisha th {
font-weight: bold;
background-color: #dedede; 
}
@media screen and (max-width: 767px) {
.kaisha,
.kaisha tr,
.kaisha td,
.kaisha th {display:block;}
.kaisha th {width:auto;}
}


.list-btn{
  text-align: center;
}



/*////////////////////////////////////*/
/*///////////  thankyou-page //////////*/
/*////////////////////////////////////*/

.thankyou{
  margin: 300px;
  font-size:30px;
  text-align: center;
}

.thank_title{
  margin-bottom: 5px;
}


/*////////////////////////////////////*/
/*///////////  related-post //////////*/
/*////////////////////////////////////*/

.related_post_title {
  font-size: 16px;
  text-align: center;
  margin-top:40px;
}

ul.related_post li {
  max-width: 150px;
  
}
ul.related_post li a {
display: inline-block;
margin:auto;
font-size: 12px;


}
ul.related_post li img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom:20px;
}

.wp_rp_footer{
  text-align: end;
  font-size:10px;
}


/*////////////////////////////////////*/
/*///////////  Yop Poll //////////*/
/*////////////////////////////////////*/

.basic-yop-poll-container{
  padding:2px;
  margin:auto;
}


.basic-vote > a{

    background-color: #900;

}
.basic-question-title{
  font-size: 1.1rem !important;
}
.basic-text{
  font-weight: 300;
  font-size: 19px;
}
.basic-yop-poll-container{
  width:90% !important;
} 


/*////////////////////////////////////*/
/*///////////  SNS  //////////*/
/*////////////////////////////////////*/

.sns{
  margin-top:40px;
}
.fb-page {
    float: left;
    width: 48.3871%;
    border: 1px solid #cccccc;
}

.twitter{
  float:right;
  width: 48.3871%;
  border:solid 1px #cccccc;
}






/*////////////////////////////////////*/
/*///////////  page 404     //////////*/
/*////////////////////////////////////*/

.nothing-back{
  font-size:300pt;
  color:#F0EBEB;
  font-style: oblique;
  font-weight:bold;
  text-align: center;
}

.nothing-title{
  margin-top:-210px;
  text-align: center;
  font-size: 20pt;
  color: gray;
}


/*////////////////////////////////////*/
/*///////////  archive.php  //////////*/
/*////////////////////////////////////*/

.archive-container{
  display: flex;
  align-items: center;
  margin:20px auto;
  min-width: 730px;
}

.post-thumbnail img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.post-detail{
  width: 100%;
  margin-left: 20px;
}

.post-upper{
  display: flex;
  justify-content: space-between;
}

.post-lower{
  display: flex;
  flex-direction:column;
}

.post-more{
  text-align: right;
}


.post-upper >h2{
  font-weight: bold;
}

.post-more >a{
  font-size: 12px;
  padding:5px;
  border:solid 1px black;
}

.nav-links{
  margin:auto;
}



/*////////////////////////////////////*/
/*//////  archive-staff.php  //////////*/
/*////////////////////////////////////*/
.staff-container{
  margin-bottom: 50px;
}
.staff-info{
   display: flex;
  flex-direction:column;
  align-items:center;
}

.staff-img{
  margin-bottom: 10px;
}
.staff-img img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;

}


.staff-name{
  font-size: 15px;
  margin-bottom:3px;

}

.staff-job{
  margin-bottom:10px;
  font-size: 12px;
}

.staff-more{
  text-align: right;
  font-size:10px;
}

.st_nav{
  position:absolute;
  left:50%;
  margin-top:50px;
}

/*////////////////////////////////////*/
/*///////////  sarch.php  //////////*/
/*////////////////////////////////////*/

.sc_submit{
  padding:10px;
  border: solid 1px gray; 
}

.form{
  height:45px;
  border: solid 1px gray;
  text-indent:1em; 
}










/*////////////////////////////////////*/
/*/////// single-staff.php  //////////*/
/*////////////////////////////////////*/
.single-staff{
 margin:auto;
 display: flex;
 align-items:center;
 justify-content: center;


}
.single-staff h1,
.single-staff h2,
.single-staff div {
 margin-bottom: 10px;

}
.staff-imges img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  
}

.staff-name-s{
  font-size:20px;
}


.staff-detail-contaner{
  margin-left:20px;
  width: 350px;
}


.nav-below-staff {
  font-size: 12px;
  position: relative;
  width: 100%;
  margin-top: 5%; 
  text-align:center;
}


.staff-archive-btn{
    margin-top: 200px;
    text-align: center;

}


/*////////////////////////////////////*/
/*///// single-infomation.php  ///////*/
/*////////////////////////////////////*/
.info-cate{
  margin: 30px 0px 0px 0px;
}
.info-cate >span{
  font-size: 13px;
  background-color: #f0f0f0;
  padding: 5px;
  margin-bottom: 5px;
}

.info_article_title{
  margin-top: 10px;
}


/*////////////////////////////////////*/
/*///////////  footer.php  //////////*/
/*////////////////////////////////////*/

footer{
  background-color: #000;
  color: white;
  height: auto;
  padding-bottom: 20px;
}
.footer-menu{
  flex-direction: column;
  justify-content: center;
  margin-top:3px;
}

#menu-menu3{
  justify-content: space-between;
  margin-right:0px;
  height: auto;
}
#menu-menu3 li:first-child{
  margin-left:0px;
}

#menu-menu3 a {
  color: white;
}

.footer_img{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.footer_img >img{
  height: 50px;
}

.footer-add{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  padding-top: 15px;
}

.corp-data{
  display: flex;
  margin-top:10px;
}

.corp-data-left,
.corp-data-right{
  text-align: left;
}

.corp-data-right{
  margin-left:10px;
}


.footer-corp h2{
  margin:0px auto;
}

.footer-corp li >span{
  margin-right:10px;
  width: 30px;
  letter-spacing: 5px;

}







